html {
  font-family: 'Open Sans', sans-serif;
}

#logo {
  padding-top: 3rem;
}

.info-section {
  padding: 0.5rem 0;
}

#sponsors form .row,
#register form .row {
  margin-bottom: 0;
}

#register form input,
#register form label {
  color: white !important;
}

.organise-logo {
  padding: 1rem 0;
}

.organise-logo img:not(:last-child) {
  margin-right: 2rem;
}

/* RGUHack Colours */
.rguhack-navbar-color {
  background-color: #572B6B;
}
.rguhack-register-color
 {
  background-color: #C75049;
}

/* Sponsor Section */

.sponsor a {
  vertical-align: middle;
  margin-top: 2em;
  display: inline-block;
}

.sponsor a:not(:last-of-type) {
  margin-right: 2em;
}

.sponsor.Bronze img {
  height: 50px;
}

.sponsor.Silver img {
  height: 100px;
}

.sponsor.Gold img {
  height: 150px;
}

/* Timetables */
.timetable thead {
    border-bottom: none;
}

.timetable tbody > tr > td:first-of-type,
.timetable thead > tr > th:first-of-type {
    width: 25%;
    text-align: right;
    padding-right: 1em;
}

.mlh-asset {
  margin-right: 2rem;
}

.challenge .card-image {
  min-height: 250px;
}

.challenge .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .challenge-sponsors img {
  height: 150px;
  margin: 2em 0;
} */

/* .challenge-sponsors h3 {
  margin-top: 0;
} */
