---
layout: default
---

{% include navbar.html %}

<div class="container" id="top">
    <div>
    <div class="" id="logo">
        <img src="/images/logov2.png" class="responsive-img" />
    </div>
    <div class="center-align">
        <h2>April 14th - 15th 2018</h2>
    </div>
    </div>
    <div id="clock" class="row">
    <div class="col m3 s6">
        <div class="card-panel grey darken-3 white-text center-align">
        <h1 class="days"></h1>
        <div>Days</div>
        </div>
    </div>
    <div class="col m3 s6">
        <div class="card-panel grey darken-3 white-text center-align">
        <h1 class="hours"></h1>
        <div>Hours</div>
        </div>
    </div>
    <div class="col m3 s6">
        <div class="card-panel grey darken-3 white-text center-align">
        <h1 class="minutes"></h1>
        <div>Minutes</div>
        </div>
    </div>
    <div class="col m3 s6">
        <div class="card-panel grey darken-3 white-text center-align">
        <h1 class="seconds"></h1>
        <div>Seconds</div>
        </div>
    </div>
    </div>

    <p class="center-align">
        <a target="_blank" href="https://mlh.io">
            <img class="mlh-asset" src="https://static.mlh.io/brand-assets/logo/official/mlh-logo-grayscale.svg" alt="Mlh logo grayscale" height=60 />
        </a>
        <a target="_blank" href="http://localhost.mlh.io/">
            <img class="mlh-asset localhost" src="https://s3.amazonaws.com/static.mlh.io/brand-assets/logos/svg/mlh-localhost-logo-dark.svg" alt="Mlh localhost logo dark" height=60 />
        </a>
    </p>
</div>

{% include register.html %}

{% include faq.html %}

{% include timetable.html %}

{% include sponsors.html %}

{% include contact.html  %}
