<section class="rguhack-faq-color info-section" id="faq">
    <div class="container">
        <h2 class="white-text center-align">FAQ</h2>

        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">What is RGUHack?</span>
                    RGUHack is an all-inclusive, free event organised for students by students.
                    You will create teams with like minded people with a common aim; to create something awesome in just 24 hours.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Where will it be held?</span>
                    RGUHack will be held at Robert Gordon University in Aberdeen.
                    For the past two years it has been held in the famous 'bear pit' at the Sir Ian Wood Building.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Is the event beginner friendly?</span>
                    It is absolutely no problem if you have never attended a hackathon before.
                    You will most definitely not be the only one there.
                    The main purpose of this hackathon is to learn something new, have fun and see how other people work.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">What rules do I need to follow?</span>
                    RGUHack will outline their official rules before you secure your place at the event.
                    You will also need to follow the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a> provided by MLH.
                    You are required to agree to these terms to attend the event.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Do you offer travel reimbursement?</span>
                    Unfortunately we do not offer reimbursement for travel to the event.
                    We will update this page in the future if this changes.
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">What is MLH?</span>
                    MLH or Major League Hacking is the official student hackathon league.
                    With their help we are able to organise this event and bring you some cool pieces of hardware, that you will be able to play with during the event.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Who can attend?</span>
                    You have to be a student currently in education.
                    However, there is no limit to how young or old you are!
                    You also don't have to be a computing student to come and contribute.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Can I sponsor the event?</span>
                    We would love to have you involved!
                    Please use the form below to register your interest in sponsoring the event.
                    The RGUHack team will be in touch with you.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">How will my data be used?</span>
                    Your data will be stored by RGUHack and used under our Data Protection / Privacy Policy.
                    Information will be provided to MLH and handled under their <a target="_blank" href="https://github.com/MLH/policies/blob/master/data-sharing.md">Data Sharing</a> provision.
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">What do I need to bring?</span>
                        You will definitely need your laptop and charger. Take a phone charger and any other cables you think you will need.<br />
                        Bring some warm and comfortable clothes as the hackathon is long and maybe take a fresh set of clothes for the final presentations.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
