<section class="rguhack-faq-color info-section" id="faq">
    <div class="container">
        <h2 class="center-align">FAQ</h2>

    <div class="row">
      {% assign columns = 2 %}
      {% for column in (1..columns) %}
        <div class="col m6 s12 col-{{ column }}">
          {% for faq in site.data.faq %}
            {% if faq.column == column %}
              <div class="card">
                  <div class="card-content">
                  <span class="card-title">{{ faq.title }}</span>
                  <p>{{ faq.text }}</p>
                  </div>
              </div>
              {% endif %}
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
</section>
