<div class="navbar-fixed">
    <nav class="rguhack-navbar-color">
    <div class="nav-wrapper container">
        <a class="brand-logo" href="#top">RGUHack</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/#register">Register</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#timetable">Timetable</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
        <li><a href="/#contact">Contact</a></li>

        <li><a href="https://twitter.com/RGUHack" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/RGUHack/" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
        <li><a href="/#register">Register</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#timetable">Timetable</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
        <li><a href="/#contact">Contact</a></li>
        </ul>
    </div>
    </nav>
</div>
