<section id="register" class="rguhack-register-color info-section">
    <div class="container">
        <h2 class="white-text center-align">Register</h2>
        <h5 class="white-text center-align">Are you a student up for a challenge?</h5>

        <p class="white-text center-align">
            Why not come along to RGUHack and fight your way through 24 hours of hacking?<br />
            Register to participate in the event using the button below.<br />
        </p>

        <p class="center-align">
            <!-- Noscript content for added SEO -->
            <noscript><a class="waves-effect waves-light btn" href="https://www.eventbrite.co.uk/e/rguhack-2018-tickets-44457392257?aff=rguhack" rel="noopener noreferrer" target="_blank"></noscript>
            <!-- You can customize this button any way you like -->
            <button class="waves-effect waves-light btn" id="eventbrite-widget-modal-trigger-44457392257" type="button">Get Tickets</button>
            <noscript>Get Tickets</a></noscript>
        </p>

        <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

        <script type="text/javascript">
            var orderCompleted = function() {
                ga('send', 'event', 'Ticket', 'ordered');
            };

            window.EBWidgets.createWidget({
                widgetType: 'checkout',
                eventId: '44457392257',
                modal: true,
                modalTriggerElementId: 'eventbrite-widget-modal-trigger-44457392257',
                onOrderComplete: orderCompleted
            });
        </script>
    </div>
</section>
