<section id="register" class="rguhack-register-color info-section">
    <div class="container">
        <h2 class="white-text center-align">Register</h2>
        <h5 class="white-text center-align">Are you a student up for a challenge?</h5>

        <p class="white-text center-align">
            Come along to RGUHack for coding, workshops, tech, prizes and fun. You've got 24 hours to make something amazing. <br /><br />
            Register to participate in the event using the button below.<br /><br />
        </p>

        <p class="center-align">
           <!-- Noscript content for added SEO -->
<noscript><a href="https://rguhack2020.eventbrite.co.uk" rel="noopener noreferrer" target="_blank"></noscript>
<!-- You can customize this button any way you like -->
<button id="eventbrite-widget-modal-trigger-53227861968" class="waves-effect waves-light btn" type="button">Get Ticket</button>
<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '53227861968',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-53227861968',
        onOrderComplete: exampleCallback
    });
</script>   </p>
        <br /><br />
      
    </div>
</section>
