<section id="register" class="rguhack-register-color info-section">
    <div class="container">
        <h2 class="white-text center-align">Register</h2>
        <h5 class="white-text center-align">Are you a student up for a challenge?</h5>

        <p class="white-text center-align">
            Why not come along to RGUHack and fight your way through 24 hours of hacking?<br />
            Register to participate in the event using the button below.<br />
        </p>

        <p class="center-align">
            <!-- Noscript content for added SEO -->
            <noscript><a class="waves-effect waves-light btn" href="https://www.eventbrite.co.uk/e/rgu-hack-2019-tickets-53227861968" rel="noopener noreferrer" target="_blank"></noscript>
            <!-- You can customize this button any way you like -->
            <button id="button class="waves-effect waves-light btn" eventbrite-widget-modal-trigger-53227861968" type="button">Get Ticket</button>            <noscript>Register</a></noscript>
        </p>
        <!-- Noscript content for added SEO -->
        <noscript><a href="https://www.eventbrite.co.uk/e/rgu-hack-2019-tickets-53227861968" rel="noopener noreferrer" target="_blank"></noscript>
   
        <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

        <script type="text/javascript">
            var exampleCallback = function() {
                console.log('Order complete!');
            };

            window.EBWidgets.createWidget({
                widgetType: 'checkout',
                eventId: '53227861968',
                modal: true,
                modalTriggerElementId: 'eventbrite-widget-modal-trigger-53227861968',
                onOrderComplete: exampleCallback
            });
        </script>
    </div>
</section>
