<section id="sponsors" class="info-section">
    <div class="container">
        <h2 class="center-align">Sponsors</h2>

        <p class="center-align">
            We would like to give a huge thank you to our sponsors making RGUHack 2019 possible!
        </p>

        {% assign tiers = "Bronze,Silver,Gold" | split:',' %}

        {% for tier in tiers %}
        <div class="center-align sponsor {{ tier }}">
            {% for sponsor in site.data.sponsors %}
            {% if sponsor.tier == tier %}
            <script>console.log("sponsor")</script>
            <a href="{{ sponsor.link }}" target="_blank">
                <img src="{{ sponsor.image | prepend:'images/sponsors/' | prepend:baseurl | prepend:url }}" alt="{{ sponsor.name }}" />
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

        <p class="center-align">
            If you would like to become a sponsor of RGUHack 2019, send us your details via the button below and a member of the RGUHack team will be in touch.<br />
        </p>

        <p class="center-align">
            <a class="waves-effect waves-light btn" href="mailto:info@rguhack.uk">Enquire</a>
        </p>
    </div>
</section>
