<section class="info-section rguhack-timetable-color" id="timetable">
    <div class="container center-align">
        <h2 class="center-align">Timetable (RGUHack 2022)</h2>
        <p class="center-align">Detailed schedule TBA.</p>

        <div class="row">
            <div class="col l6 m12">
                <h3>Saturday 26<sup>th</sup> March</h3>

                <table class="timetable">
                    <thead>
                        <tr>
                            <th class="time">Time</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td>Arrival and Registration</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col l6 m12">
                <h3>Sunday 27<sup>th</sup> March</h3>

                <table class="timetable">
                    <thead>
                        <tr>
                            <th class="time">Time</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16:00</td>
                            <td>End of the Event</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
