<section class="info-section rguhack-timetable-color" id="timetable">
    <div class="container white-text center-align">
        <h2 class="center-align">Timetable</h2>

        <div class="row">
            <div class="col l6 m12">
                <h3>Saturday 14<sup>th</sup> April</h3>

                <table class="timetable">
                    <thead>
                        <tr>
                            <th class="time">Time</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td>Arrival and Registration</td>
                        </tr>
                        <tr>
                            <td>11:00 - 12:00</td>
                            <td>Introduction, Sponsor Presentations and Challenges</td>
                        </tr>
                        <tr>
                            <td>12:00 - 13:00</td>
                            <td>Team Forming and Lunch</td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                            <td><b>Start of Hacking</b></td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                            <td>Dinner</td>
                        </tr>
                        <tr>
                            <td>20:00</td>
                            <td>Slideshare Karaoke</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col l6 m12">
                <h3>Sunday 15<sup>th</sup> April</h3>

                <table class="timetable">
                    <thead>
                        <tr>
                            <th class="time">Time</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08:00</td>
                            <td>Breakfast</td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                            <td><b>End of Hacking</b> and Lunch</td>
                        </tr>
                        <tr>
                            <td>13:30 - 15:00</td>
                            <td>Hack Presentations</td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:30</td>
                            <td>Rewards, Closing Talks and Networking</td>
                        </tr>
                        <tr>
                            <td>17:00</td>
                            <td>End of the Event</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
