<!doctype html>
<html>
    <head>
        <title>RGUHack!</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
    </head>
    <body>
        {{ content }}

        <footer>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

            <script type="text/javascript" src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>

            {% include analytics/google.html %}
        </footer>
    </body>
</html>
