<!-- Google/Other -->
<meta name="description"               content="RGUHack is an annual 24 hour codeathon featuring coding, workshops, tech, prizes and fun held at Robert Gordon University in Aberdeen, Scotland. You've got 24 hours to make something amazing! All skill levels welcome." />
<!-- Opengraph/Facebook -->
<meta property="og:url"                content="https://rguhack.uk/" />
<meta property="og:type"               content="cause" />
<meta property="og:title"              content="RGUHack!" />
<meta property="og:description"        content="RGUHack is an annual 24 hour codeathon featuring coding, workshops, tech, prizes and fun held at Robert Gordon University in Aberdeen, Scotland. You've got 24 hours to make something amazing! All skill levels welcome." />
<meta property="og:image"              content="https://rguhack.uk/images/logov2-1280-og.png" />
<meta property="og:locale"             content="en_GB" />
<meta property="og:locality"           content="Aberdeen" />
<meta property="og:postal_code"        content="AB10 7GJ" />
<meta property="og:country_name"       content="Scotland" />
